.storybook-input {
    display: block;
    width: 100%;
    max-width: 300px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  
  .storybook-input--text {
    color: #333;
  }
  
  .storybook-input--number {
    color: #1ea7fd;
  }
  
  .storybook-input--file {
    color: #555;
  }

  .storybook-input--color {
    cursor: pointer;
  }
  
  .storybook-input--email {
    color: #1ea7fd;
  }
  
  .storybook-input--date {
    color: #555;
  }

  .storybook-input-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .color-preview {
    display: inline-block;
    width: 70px;
    height: 20px;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #333;
    background-color: #fff;
    color: white;
    border-radius: 5px;
  }
  
  
  